
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@font-face {
    font-family: 'Ustroke Regular';
    src: url('./fonts/Ustroke.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

body{
background-color: #0d0d0d;
pointer-events: auto;
animation: pointer 8.5s;

}

/*CONTACTS*/
#BigTextCont{
	color: white;
	display: flex;
	position: absolute;
  	margin-left: 41.5%;
  	margin-top: 24%;
  	font-family: 'Ustroke Regular', cursive;
  	font-size: 2.5vw;
  	animation: my-animka 1.3s ;
}
.textb2c{
	color:white;
	position: absolute;
	margin-left: 64%;
	margin-top:7.9%;
	font-family: 'Ustroke Regular', cursive;
	font-size: 2vw;	
	transition: color 0.5s cubic-bezier(0, 0, 1, 1)
}
.bt2c{
	margin-left: 39%;
	margin-top: 35.5%;
	width: 10%;
	height: 3%;
}
.IMG2c{
	position:absolute;
	width: 170%;
	max-height: 350%;
}
.Block{
	position: absolute;
	width: 10%;
	height: 30%;
}
#vk{

	margin-left: 44%;
	margin-top: 6%;
	
}
#insta{
	margin-top: 20%;
	margin-left: 24%;
	
}
#telega{
	margin-top: 20%;
	margin-left: 64%;
	
}
.imgcont{
	position: absolute;
	display: block;
	margin-left: auto;
    margin-right: auto; 
	max-width: 90%;
	max-height:60%;
	border-radius: 22px 22px;
	animation: my-anim 1.5s ;
	transition: 1.5s;
}
.imgstr{
    margin-top: auto;
    margin-left:auto; 
	max-width: 90%;
	max-height:60%;
	border-radius: 22px 22px;
	opacity: 0;
	
}
.Block:hover .imgcont{
transform: scale(2);
opacity: 0;

}
.Block:hover .imgstr{

transform: scale(2);
opacity: 1;
transition: 1.5s;
}
.Block:hover .textcont{
	opacity: 0;
	margin-top: -160%;
}
.Ghostpin1c{
	margin-top: 39%;
	margin-left: 19%;
	transform: rotate(-18deg);
	animation: ghostbast 12s infinite;
}
.Ghostpin2c{
	margin-top: 38%;
	margin-left: 73%;
	font-size: 1.9vw;
	transform: rotate(16deg);
	animation: ghostbast 14s infinite;
}

.textcont{
	color: white;
	position: absolute;
  	margin-left: 23%;
  	margin-top: -110%;
  	font-family: 'Balsamiq Sans', cursive;
  	font-size: 1vw;
  	animation: my-an 3s ;
  	transition: 1.4s;
}
/*HOBBY*/

#iconhobby,#iconhobby1,#iconhobby2,#iconhobby3,#iconhobby4{
position: absolute;
border-radius: 20px 20px;
max-width: 10%;
max-height: 20%;
transition: 0.4s cubic-bezier(0,.47,.46,.79);
cursor: pointer;
}
.hob1{
margin-left: 14%;
margin-top:15%;
animation: my2-a 1.5s ;

}
#iconhobby:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#iconhobby1:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#iconhobby2:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#iconhobby3:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#iconhobby4:hover{
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.hob2{
margin-left: 34%;
margin-top:18%;
animation: my-a 1.5s ;	
}
.hob3{
margin-left: 54%;
margin-top:15%;
animation: my3-a 1.5s ;	
}
.hob4{
margin-left: 74%;
margin-top:18%;
animation: my4-a 1.5s ;	
}
#ZagHobby{
	color: white;
	display: flex;
	position: absolute;
  	font-family: 'Balsamiq Sans', cursive;
  	font-size: 2vw;
  	transition: transition: 0.4s cubic-bezier(0,.47,.46,.79);
  	animation: my-an 2.8s ;
}
.zag1{
margin-left: 15.5%;
margin-top:26.5%;
opacity: 1;
}
.zag2{
margin-left: 34.5%;
margin-top:14%;
}
.zag3{
margin-left: 55.5%;
margin-top:26.5%;
}
.zag4{
margin-left: 76.5%;
margin-top:14%;
}
.block1{
max-width: 90%;
max-height: 90%;
position: absolute;
opacity: 0;
}
#imghob{
	position: absolute;
	border-radius: 10px 10px;
	max-width: 5%;
	max-height: 10%;
	opacity: 0;
	transition: 0.3s ;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.h1{
margin-left: 25%;
margin-top:20%;
}
.h2{
margin-left: 25%;
margin-top:26%;	
}
.h3{
margin-left: 19%;
margin-top:26%;	
}
.h4{
margin-left: 8%;
margin-top:15%;
}
.h5{
margin-left: 8%;
margin-top:9%;	
}
.h6{
margin-left: 14%;
margin-top:9%;
}
.h7{
margin-left: 65%;
margin-top:20%;
}
.h8{
margin-left: 65%;
margin-top:26%;
}
.h9{
margin-left: 59%;
margin-top:26%;
}
.h10{
margin-left: 48%;
margin-top:15%;
}
.h11{
margin-left: 54%;
margin-top:9%;
}
.h12{
margin-left: 39%;
margin-top:12%;
}
.h13{
margin-left: 45%;
margin-top:18%;
}
.h14{
margin-left: 34%;
margin-top:29%;
}
.h15{
margin-left: 28%;
margin-top:23%;
}
.h16{
margin-left: 79%;
margin-top:12%;
}
.h17{
margin-left: 85%;
margin-top:12%;
}
.h18{
margin-left: 85%;
margin-top:18%;
}
#Citat{
	position: absolute;
	font-size: 1.5vw;
	color: white;
	font-family: 'Caveat', cursive;
	transition: 0.3s;
}
.cit1{
	
	margin-left:21%;
	margin-top:10%;
	opacity: 0;

}
.cit2{
	
	margin-left:33%;
	margin-top:14%;
	opacity: 0;

}
.cit22{
	
	margin-left:41%;
	margin-top:31%;
	opacity: 0;

}
.cit3{
	
	margin-left:61%;
	margin-top:10%;
	opacity: 0;

}
.cit4{
	
	margin-left:74%;
	margin-top:30%;
	opacity: 0;

}
.Ghostpin3c{
	margin-top: 38%;
	margin-left: 65%;
	font-size: 1.9vw;
	transform: rotate(16deg);
	animation: ghostbast 14s infinite;
}
.bt2hob{
	margin-left: 36.5%;
	margin-top: 35.5%;
	width: 10%;
	height: 3%;
}
/*MAIN*/
#Main{
	 margin: 0 auto;
	 max-width: 100%;
}


#BigText{

	color: white;
	display: flex;
	position: absolute;
  	margin-left: 44.5%;
  	margin-top: 5%;
  	font-family: 'Ustroke Regular', cursive;
  	font-size: 3vw;
  	animation: my-animka 1.3s ;

}
#Face{
	width:14.9%;
	max-height:31%;
	border-radius: 22px 22px;
	margin-left: 42.2%;
	margin-top: 10.8%;
	position: absolute;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-size: 100% 100%;
	animation: my-ani 1.5s ;
	background-position: center;
	background-repeat: no-repeat;

}

#SmallFace{
	
	width:6.8%;
	max-height:14%;
	border-radius: 20px 20px;
	position: absolute;
	filter: blur(2px);
	transition: 0.4s cubic-bezier(0,.47,.46,.79),height 0.4s cubic-bezier(0,.47,.46,.79),filter 0.7s ;
	display: flex;
	flex-direction: row;
	background-size: cover;
	cursor: pointer;

}
@keyframes my-animka {
    0%   { opacity: 0; }
    10%   { opacity: 0;transform: scale(0) }
    100% { opacity: 1; }
}
@keyframes my-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    45%   { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my2-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    40%    { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my3-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    25%   { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my4-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    35%   { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my5-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    20%   { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my6-anim {
    0%   { opacity: 0;}
    10%   { opacity: 0;}
    30%   { opacity: 0;transform: scale(0)}
    100% { opacity: 1; }
}
@keyframes my-ani {
    0%   { opacity: 0; }
    10%   { opacity: 0;transform: scale(0) }
   
    100% { opacity: 1; }
}
@keyframes my-an {
    0%   { opacity: 0; }
    10%   { opacity: 0; }
    20%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes my-a {
    0%   { opacity: 0; }
    10%   { opacity: 0; }
    20%   { opacity: 0; }
   35%   { opacity: 0;transform: scale(0)}
   77%   { opacity: 1;margin-left: 39%;margin-top: 15%;  }
    100% { opacity: 1; }
}
@keyframes my2-a {
    0%   { opacity: 0; }
    10%   { opacity: 0; }
    20%   { opacity: 0; }
   45%   { opacity: 0;transform: scale(0)}
   77%   { opacity: 1;margin-left: 27%;margin-top: 15%;  }
    100% { opacity: 1; }
}
@keyframes my3-a {
    0%   { opacity: 0; }
    10%   { opacity: 0; }
    20%   { opacity: 0; }
   25%   { opacity: 0;transform: scale(0)}
   77%   { opacity: 1;margin-left: 51%;margin-top: 15%;  }
    100% { opacity: 1; }
}
@keyframes my4-a {
    0%   { opacity: 0; }
    10%   { opacity: 0; }
    20%   { opacity: 0; }
   40%    { opacity: 0;transform: scale(0)}
   77%   { opacity: 1;margin-left: 63%;margin-top: 15%; }
    100% { opacity: 1; }
}
@keyframes pointer {
    0%   { pointer-events:none; }
    100% { pointer-events:auto; }
}

#SmallFace:hover{
	
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	filter: blur(0px);

}
.pin1{
margin-left: 34.5%;
margin-top: 19.1%;

animation: my-anim 1.5s ;

}
.pin2{
margin-left: 34.5%;
margin-top: 11.1%;
animation: my2-anim 1.5s ;
}
.pin3{
margin-left: 27%;
margin-top: 19.1%;
animation: my3-anim 1.5s ;
}
.pin4{
margin-left: 65.5%;
margin-top: 11.1%;
animation: my4-anim 1.5s ;
}
.pin5{
margin-left: 58%;
margin-top: 11.1%;
animation: my5-anim 1.5s ;
}
.pin6{
margin-left: 58%;
margin-top: 19.1%;
animation: my6-anim 1.5s ;
}

#SmallText{
	color: white;
	display: flex;
	position: absolute;
  	margin-left: 39%;
  	margin-top: 32%;
  	font-family: 'Balsamiq Sans', cursive;
  	font-size: 1vw;
  	animation: my-an 3s ;
  	text-align: center;
}
#SmallTextZag{
	color: white;
	display: flex;
	position: absolute;
  	margin-left: 46.3%;
  	margin-top: 29%;
  	font-family: 'Ustroke Regular', cursive;
  	font-size: 1.8vw;
  	animation: my-an 3s;
}
#Button{
position: absolute;
animation: my-an 3s ;	
}
.bt1{
	margin-left: 40%;
	margin-top: 40%;
	width: 10%;
	height: 3%;
}
.bt2{
	margin-left: 37.5%;
	margin-top: 35.5%;
	width: 10%;
	height: 3%;
}
.textb1{
	color:white;
	position: absolute;
	margin-left: 64%;
	margin-top:9%;
	font-family: 'Ustroke Regular', cursive;
	font-size: 2vw;	
	transition: color 0.5s cubic-bezier(0, 0, 1, 1)
}
.textb2{
	color:white;
	position: absolute;
	margin-left: 64%;
	margin-top:15%;
	font-family: 'Ustroke Regular', cursive;
	font-size: 2vw;	
	transition: color 0.5s cubic-bezier(0, 0, 1, 1)
}
#Button:hover .textb1{
	color:black;	
}
#Button:hover .textb2{
	color:black;	
}
#Button:hover .textb2c{
	color:black;	
}
#IMG{
opacity: 0;
transition: opacity 0.5s cubic-bezier(0, 0, 1, 1)
}
.IMG1{
	position:absolute;
	width: 170%;
	max-height: 350%;
	
}
.IMG2{
	position:absolute;
	width: 230%;
	max-height: 350%;
	
}
#Button:hover #IMG{
opacity: 1;
}

#GhostTexI1{
	position: absolute;
	font-size: 1.1vw;
	color: white;
	font-family: 'Caveat', cursive;
}
.Ghostpin1{
	margin-top: 6%;
	margin-left: 10%;
	transform: rotate(-18deg);
	animation: ghostbasters 12s infinite;
}
.Ghostpin2{
	margin-top: 30%;
	margin-left: 80%;
	transform: rotate(16deg);
	animation: ghostbasters 14s infinite;
}
.Ghostpin3{
	margin-top: 11%;
	margin-left: 6%;
	font-size: 140%;
	transform: rotate(-18deg);
	animation: ghostbasters 16s infinite;
}
@keyframes ghostbasters{
    0%   { opacity: 0; }
   	20%   { opacity: 0; }
   	55%   { opacity: 1; }
    100% { opacity: 0; }
}
#GhostTexI2{
	position: absolute;
	font-size: 1.4vw ;
	color: white;
	font-family: 'Caveat', cursive;
}
.Ghostpin4{
	margin-top: 35%;
	margin-left: 19%;
	transform: rotate(-18deg);
	animation: ghostbast 12s infinite;
}
.Ghostpin5{
	margin-top: 8%;
	margin-left: 80%;
	transform: rotate(16deg);
	animation: ghostbast 13s infinite;
}
.Ghostpin6{
	margin-top: 32%;
	margin-left: 73%;
	font-size: 1.9vw;
	transform: rotate(16deg);
	animation: ghostbast 14s infinite;
}
.Ghostpin7{
	margin-top: 16%;
	margin-left: 20%;
	font-size: 1.9vw;
	transform: rotate(-18deg);
	animation: ghostbast 15s infinite;
}
@keyframes ghostbast{
    0%   { opacity: 0; }
   	35%   { opacity: 0; }
   	60%   { opacity: 1; }
    100% { opacity: 0; }



/*@font-face {
// название шрифта
font-family: "Ustroke Regular"; 
// адрес шрифта и тип 
src: url("../Ustroke.ttf") format("cursive");
font-style: normal; 
font-weight: normal;  
}*/
@font-face {
// название шрифта
font-family: "Caveat"; 
// адрес шрифта и тип 
src: url("../fonts/Caveat-Regular.ttf"); 
}

